[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
uvicorn = "*"
gunicorn="*"
graphene-django="*"
dj-database-url = "*"
psycopg2-binary = "*"
argon2-cffi = "*"
celery = "*"
django-cors-headers = "*"
requests = "*"

[requires]
python_version = "3.9.6"

[pipenv]
allow_prereleases = true
